<!DOCTYPE html>
<html ng-app>
<head>
    <title>Chapter Two - A Simple Recipe Book</title>
    <link rel="stylesheet" href="style.css">

    <script src="packages/web_components/platform.js"></script>
    <script src="packages/web_components/dart_support.js"></script>
</head>
<body>

<div recipe-book>
    <h3>Recipe List</h3>
    <ul>
        <li class="pointer"
            ng-repeat="recipe in cmp.recipes"
            ng-click="cmp.selectRecipe(recipe)">
            {{recipe.name}}
        </li>
    </ul>

    <h3>Recipe Details</h3>
    <div><strong>Name: </strong>{{cmp.selectedRecipe.name}}</div>
    <div><strong>Category: </strong>{{cmp.selectedRecipe.category}}</div>
    <div><strong>Rating: </strong>{{cmp.selectedRecipe.rating}}</div>
    <div>
        <ul>
            <li ng-repeat="ingredient in cmp.selectedRecipe.ingredients">
                {{ingredient}}
            </li>
        </ul>
    </div>
    <div><strong>Directions: </strong>{{cmp.selectedRecipe.directions}}</div>
</div>

<script type="application/dart" src="main.dart"></script>
<script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>